.index-title {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 35px;

    &__line {
        position: absolute;
        left: -3px;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .circle {
            flex-shrink: 0;
            display: inline-flex;
            width: 6px;
            height: 6px;
            background-color: white;
            border-radius: 50%;

            &:last-of-type {
                opacity: 0;
                width: 10px;
                height: 10px;
                transition: opacity 0.2s ease-in-out 0.35s;
            }
        }

        .line {
            display: inline-flex;
            width: 2px;
            height: 0;
            background-color: white;
            transition: height 0.35s ease-in-out;
        }
    }

    &__small-title {
        display: inline-flex;
        padding-top: 10px;
        font-size: 36px;
        font-weight: 500;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        color: var(--primary-color);
        opacity: 0;
        transition: opacity 0.35s ease-in-out;
    }

    &__big-title {
        --text-height: 520px;
        position: relative;
        z-index: 3;
        display: inline-flex;
        height: var(--text-height);
        transform: translate(0, 40px);
        mask-image: url("../img/text.svg");
        mask-size: 100% var(--text-height);
        mask-repeat: no-repeat;
        mask-position: left top;
        opacity: 0;
        transition: opacity 0.35s ease-in-out 0.75s;

        video, img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &.-show {
        .index-title__line {
            .line {
                height: 590px;
            }
            .circle:last-of-type {
                opacity: 1;
            }
        }

        .index-title__small-title {
            opacity: 1;
        }
        .index-title__big-title {
            opacity: 1;
        }
    }

    @include media_breakpoint(tablet) {
        &__big-title {
            --text-height: 40vw;
        }

        &.-show {
            .index-title__line {
                .line {
                    height: calc(40vw + 70px);
                }
            }
        }
    }

    @include media_breakpoint(mobile) {
        padding-left: 5vw;

        &__small-title {
            font-size: 5vw;
        }

        &__big-title {
            --text-height: 40vw;
        }

        &.-show {
            .index-title__line {
                .line {
                    height: calc(45vw + 40px);
                }
            }
        }
    }
}