.index-title {
    --text-height: 620px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: var(--text-height);
    overflow: hidden;

    &__line {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .circle {
            flex-shrink: 0;
            display: inline-flex;
            width: 6px;
            height: 6px;
            background-color: white;
            border-radius: 50%;

            &:last-of-type {
                opacity: 0;
                width: 10px;
                height: 10px;
                transition: opacity 0.2s ease-in-out 0.35s;
            }
        }

        .line {
            display: inline-flex;
            width: 2px;
            height: 0;
            background-color: white;
            transition: height 0.35s ease-in-out;
        }
    }

    &__small-title {
        display: inline-flex;
        padding: 10px 0 10px 35px;
        font-size: 36px;
        font-weight: 500;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        color: var(--primary-color);
        opacity: 0;
        transition: opacity 0.35s ease-in-out;
    }

    &__big-title {
        position: relative;
        z-index: 3;
        display: inline-flex;
        opacity: 0;
        transition: opacity 0.35s ease-in-out 0.75s;
        clip-path: url(#textMask);

        svg {
            width: 0;
            height: 0;
        }

        video, img {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
        }
    }

    &.-show {
        .index-title__line {
            .line {
                height: calc(var(--text-height) - 20px);
            }
            .circle:last-of-type {
                opacity: 1;
            }
        }

        .index-title__small-title {
            opacity: 1;
        }
        .index-title__big-title {
            opacity: 1;
        }
    }

    @include media_breakpoint(tablet) {
        --text-height: 400px;
        width: 700px;
        margin: 0 auto;

        &__big-title {
            margin-left: 15px;

            svg path {
                transform: scale(0.58);
            }
        }
    }

    @include media_breakpoint(mobile) {
        --text-height: 200px;
        width: 330px;
        margin: 0 auto;

        &__small-title {
            padding-left: 25px;
            font-size: 20px;
        }

        &__big-title {
            margin-left: 15px;

            svg path {
                transform: scale(0.26);
            }
        }
    }

    @include media_breakpoint(small-mobile) {
        --text-height: 180px;
        width: 280px;
        margin: 0 auto;

        &__small-title {
            padding-left: 15px;
            font-size: 18px;
        }

        &__big-title {
            margin-left: 10px;

            svg path {
                transform: scale(0.22);
            }
        }
    }
}